.cover-image-studio {
    height: 825px;
    width: 100%;
    background-image: url(../assets/Home-Slideshow/DSC_2814_watermark_GessoWhite.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index:-1;
}

.container {
    background-color: rgba(29, 29, 29, 0.4);
    height: 825px;
    width: 100%;
    position: absolute;
    transform: translate(0%, -100%);
}

.studio-header {
    letter-spacing: 2px;
    padding-top: 13%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 52px;
    font-weight: 400;
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: uppercase;
}

.studio-info-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}

.studio-info {
    font-size: 22px;
    font-style: italic;
    text-align: center;
    line-height: 1.6;
    width: 725px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

.studio-party-container {
    display: flex;
    justify-content: center;
}

.studio-party-wrapper {
   width: 800px
}

.studio-party-header {
    font-weight: 500;
    font-size: 48px;
    padding-bottom: 10px;
    margin-top: 40px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20q;
    border-bottom: rgb(250, 224, 228) 1px solid;
    color:black;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Noto Sans TC', sans-serif;
}

.studio-party-info {
    color: rgb(138, 138, 138);
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 3px;
    font-size: 16px;
    text-align: center;
}

.studio-party-ul {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 3px;
    color: rgb(138, 138, 138);
}

.studio-img-container {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 140px;
    margin-right: 140px;
    display: flex;
    justify-content: center;
}

.studio-img {
    margin-left: 40px;
    margin-right: 40px;
    height: 250px;
    width: 250px;
    transition: 1.7s ease-in-out;
}

.studio-img:hover {
    
    transform: scale(1.2);
}